nav,
header,
footer {
    display: block;
}

header h1 {
    display: block;
    padding-top: : 5px;
    padding-bottom: : 5px;
    margin: auto;
    font-family: 'Mina', sans-serif;
    color: white;
    background-color: darkcyan;
    clear: left;
    text-align: center;
}

footer {
    display: block;
    padding-top: : 15px;
    padding-bottom: : 15px;
    margin: auto;
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    color: white;
    background-color: darkcyan;
    clear: left;
    text-align: center;
}

footer a:link, a:visited {
    font-family: 'Mina', sans-serif;
    color: white;
    text-decoration: none;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: cadetblue;
    overflow: hidden; /* Hide if doesnt fit */
    margin: 0;
    padding: 0;
}

nav ul.topnav li {
    list-style: none; /* Guarantee no bullet points */
    float: left;
}

nav ul.topnav li a {
    min-height: 16px;
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    padding-right: 20px;
    padding-left: 5px;
    color: white;
}

nav ul.topnav li a:hover {
    background-color: white;
    color: black;
}

th {
    padding-left: 5px;
    padding-right: 5px;
}

table {
    width: 100%;
    margin: auto;
    border: 0px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover td {background:lightblue}



table td {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

table td a:visited, a:link {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.tableheader {
    text-align: left;
    background-color: darkcyan;
    font-size: 20px;
}

.tableheader a:link, a:visited {
    font-family: 'Mina', sans-serif;
    color: white;
    text-decoration: none;
}

.tableheader a:active {
    color: black;
}

.movieinfo {
    font-family: 'Open Sans', sans-serif;
    color: red;
    background-color: lightblue;
    text-decoration: none;
    font-weight: bolder;
}

tr.status_deleted {
    background: red;
    text-decoration-line: line-through;
}
